<h3>Lawyers</h3>

<hr>

<table style="border-spacing: 20px 0px;">
  <tr>
    <th>Lawyer ID</th>
    <th>Name</th>
  </tr>
<% @lawyers.each do |lawyer| %>
  <tr align = "center">
    <td><%= lawyer.id %></td>
    <td><%= link_to "#{lawyer.name}", lawyer %></td>
  </tr>
<% end %>
</table>
