<h3>Law Firm Billing System</h3>

<img src="http://i.imgur.com/oVhVBGu.jpg" alt="Time is money!">

<div>
    <div style="float:left;">
      <%= button_to "Sign Up", "/signup", method: "get", id: "Sign Up" %>
    </div>
    <div style="float:left;">
      <%= button_to "Sign In", "/signin", method: "get", id: "Sign In" %>
    </div>
    <div style="clear:both;">
    </div>
</div>
