<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Name </label><br>
  <input name=user[email]><br><br>
  <label>Password </label><br>
  <input name=user[password]><br><br><br>
  <input type=submit value='Sign In' id='Sign In'>
<% end %>
