<table>
  <tr>
    <th>Matter ID</th>
    <th>Client</th>
    <th>Matter</th>
  </tr>
<% matters.each do |matter| %>
  <tr>
    <td><%= link_to matter.id, matter %>
    <td><%= link_to matter.client.name, client_path(matter.client) %></td>
    <td><%= link_to matter.name, matter %></td>
  </tr>
<% end %>
</table>
