<h4><%= @matter.name %> Time Entries</h4>

<%= button_to 'Add new time entry', new_matter_time_entry_path(@matter), method: "get" %>

<br>
<hr>

<%= render partial: "time_entries/table", locals: {time_entries: @matter.time_entries} %>

<br>

<%= button_to 'Go Back to Matter', matter_path(@matter), method: "get" %>

<br>
