<h3>Client Profile</h3>

<div id="client-show-page"></div>

<script type="text/javascript" src="assets/javascripts/handlebars.js"></script>
<script id="client-show-page-template" type="text/x-handlebars-template">
  <form action="/clients/{{id}}/edit">
    <input type="submit" value="Edit Client" />
  </form><br>

  Name: <tag id="client_name">{{name}}</tag><br>
  Address: <tag id="client_address">{{address}}</tag><br>
  <tag id="quickContact">{{quickContact}}</tag><br><br>

  <button href="#" class="js-previous"  data-id="{{id}}">Previous Client</button> <button href="#" class="js-next" data-id="{{id}}">Next Client</button><br><br>

  <br>
  <hr>
  <h4>Billing</h4>
  <form action="/clients/{{id}}/invoice">
    <input type="submit" value="View Current Invoice" />
  </form>
  <br>
</script>
