<div id="client-show-page"></div>

<script type="text/javascript" src="assets/javascripts/handlebars.js"></script>
<script id="client-show-page-template" type="text/x-handlebars-template">
  <h3>Client Profile</h3>
  Name: {{name}}<br>
  Address: {{address}}<br>
  Phone: {{phone}}<br>
  Email: {{email}}<br><br>

  <form action="/clients/{{id}}/edit">
    <input type="submit" value="Edit Client" />
  </form>
  <br>
  <hr>
  <h4>Billing</h4>
  <form action="/clients/{{id}}/invoice">
    <input type="submit" value="View Current Invoice" />
  </form>
  <br>
</script>
