<h1>Edit Time Entry</h1>
<%= render partial: "form", locals: {matter: @matter, time_entry: @time_entry} %>
<br>

<% if current_user_is_lawyer %>
  <hr>
  <br>
  <%= button_to "Delete Time Entry", [@matter, @time_entry], method: 'delete' %>
  <br>
<% end %>
